<section id="why-us" class="why-us section light-background">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>Neden Yumul'u Seçmelisiniz?'</h3>
                    <p>
                        Yumul’da her şey, misafirlerimize en iyi deneyimi yaşatmak için tasarlanır.
                        Her yemeğimizde tazeliği ve lezzeti ön planda tutarız.
                        Özenle seçilen malzemeler, ustalıkla hazırlanan tarifler ve huzurlu atmosferimizle sizleri ağırlamaktan mutluluk duyarız. 
                    </p>
                    <div class="text-center">
                        <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-xl-4">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <h4>Usta şeflerden yaratıcı menüler</h4>
                            <p>Geleneksel tatları modern yorumlarla harmanlayarak benzersiz bir gastronomi deneyimi sunuyoruz.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-gem"></i>
                            <h4>Sıcak ve davetkâr atmosferimiz</h4>
                            <p>Rahat ortam, dost canlısı hizmet ve lezzet dolu anılar için kapılarımız her zaman açık.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-inboxes"></i>
                            <h4>Özel günleriniz için mükemmel adres</h4>
                            <p>Kutlamalarınızı, toplantılarınızı ve özel davetlerinizi unutulmaz kılmak için buradayız.</p>
                        </div>
                    </div><!-- End Icon Box -->

                </div>
            </div>

        </div>

    </div>

</section>